:root {
    --transparent: oklch(0 0 0 / 0%);
    --white-100: oklch(0.98 0 0);
    --white-200: oklch(0.95 0 0);
    --white-300: oklch(0.92 0 0);
    --white-400: oklch(0.88 0 0);
    --white-500: oklch(0.84 0 0);
    --white-600: oklch(0.8 0 0);
    --white-800: oklch(0.7 0 0);
    --white-900: oklch(0.6 0 0);
    --glow: 0 0 20px 5px oklch(0.98 0 0 / 80%);
}

body {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
}

.background {
    background-image: url('./assets/img/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
  }
  
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meitrex-text {
    font-size: 5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.work-in-progress-text {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    margin-top: -40px;
}

.icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
  }

.icon-link {
    margin: 0 20px;
    font-size: 2.5rem;
    color: #ffffff;
}

@font-face {
    font-family: 'Quicksand';
    src: url(../public/webfonts/Quicksand.woff2) format('woff2');
}

@font-face {
  font-family: 'Font Awesome 6 Brands';
  src: url("../public/webfonts/fa-brands-400.woff2") format("woff2");
}

@font-face {
  font-family: 'Font Awesome 6 Free';
  src: url("../public/webfonts/fa-regular-400.woff2") format("woff2");
}

.button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  background: var(--white-900);
  border: 3px solid;
  border-color: var(--white-400);
  border-radius: 0.75rem;
  color: var(--white-300);
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition: 250ms ease-in-out;
  transition-property: all;
}

.button:hover,
.button:focus {
  color: var(--white-200);
  background-color: var(--white-800);
  transform: scale(1.1);
}

.text {
  filter: drop-shadow(0 0 1px currentcolor);
}

.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.6;
  border-radius: inherit;
  box-shadow: 0 0 1em 0.3em var(--white-300);
  transition: 250ms ease-in-out;
  transition-property: opacity;
}

.button:hover::after,
.button:focus::after {
  opacity: 0.6;
}